.post-header {
    display: flex;
    gap: 0.5rem;
}

.post-header > img {
    height: 150px;
}

iframe {
    border: 0;
    background: var(--md-default-bg-color);
}

.hal-iframe {
    width: 100%;
    height: 320px;
}

.hal-iframe.long {
    height: 6230px;
}
