@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: "Public Sans", sans-serif;

    --color-primary-500: #c9191e;
    --color-primary-400: #d95e61;
}

.dark {
    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-900);
    --ui-bg-elevated: var(--ui-color-neutral-900);
    --ui-bg-accented: var(--ui-color-neutral-800);
}
