@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: "Public Sans", sans-serif;

    --color-primary-500: #c9191e;
    --color-primary-400: #c9191e;
}

:root {
    --ui-container: 90rem;
}

.dark {
    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-900);
    --ui-bg-elevated: var(--ui-color-neutral-900);
    --ui-bg-accented: var(--ui-color-neutral-800);
}

figcaption {
    @apply text-center italic pt-1;
}

.gallery {
    @apply flex gap-2 flex-wrap justify-center;
}

.gallery img {
    @apply max-w-sm;
}
